html
body{
    height: 100%;

    /* The image used */
   // background-image: url("/static/images/barchartbackground.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 

#outerDiv{
    top: 100px;
    left: 655px;
    width: 320px;
    padding: 10px;
    margin: 0;

}
#regions_div {
    width: 550px;
    height: 375px;
  }