<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS goes here -->

    <!-- Bootstrap -->

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Custom CSS -->

    

    <title>Covid Across The Nation</title>
    
<body>
< <main class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <h1 style="color: #4e7bcf; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Covid Across The Nation</h1>
      <p style="padding-bottom: 20px; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid">
    </div>
      <div class="col-md-4" style="padding-top: 15px; padding-bottom: 15px; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid">
        <h4 style="text-align: center">Total Infections In <br> The United States</h4>
          <h4 style="color: #4e7bcf; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">9,160,960</p>
      </div>
      <div class="col-md-4" style="padding-top: 15px; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid">
          <h4 style="text-align: center">Total Deaths In <br> The United States</h4>
          <h4 style="color: #4e7bcf; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">222,245</p>
      </div>
      <div class="col-md-4" style="padding-top: 15px; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid">
          <h4 style="text-align: center">Total Tested In <br> The United States</h4>
          <h4 style="color: #4e7bcf; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">148,152,270</h4>
      </div>
  <div>
  <div class="row" style="margin-top: 25px">
    <div class="col-md-9" style="padding-right: 20px; border-right-width: 1px; border-right-color: black; border-right-style: solid">
      <h3 style="color:1d54b9">Hover over a state to see the number of tests performed.</h3>
      <div id="regions_div"></div>
      </div>
      <div>
        <h4 style = "text-align: center">States</h4>
        <br>
        <div class="col-md-12 text-center" style="margin-bottom: 10px">
          <select id="selDataset"><br>
          </select>
          <br>
          <h3 class="panel-title">State Information</h3>
        </div>
        <div id="sample-metadata" class="center" style= "text-align:center" font-family="'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"></div>
        </div>
        </div>
      </div>
    <br>

    <div class="col-md-12 text-center">
        <h1 style="color: #4e7bcf; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Covid Testing Across The Nation</h1>
        <p style="padding-bottom: 20px; border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid">
          <div class="col-md-12" id="myDiv"></div>
            <p style=" padding-bottom: 15px; border-top-width: 1px; border-top-color: black; border-top-style: solid">
            <p style="text-align: center" ><a href="https://www.linkedin.com/in/rebecca-joseph-922b0b169/">Created by Rebecca Joseph</a> | <a href="https://www.kaggle.com/nightranger77/covid19-state-data">View this dataset on Kaggle</a>
      </main>
    </div>
  </div>
</div>
    

    <!-- Google charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Custom JS -->
    <script src="/static/js/config.js"></script>
    <script src="/static/js/script.js"></script>
    

</body>
</html>
