<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS goes here -->

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom CSS -->

    <link rel="stylesheet" type="text/css" href="/static/css/barchart.css">

    <title>Covid Across The Nation</title>

< <main class="container">
    <h1>Covid VS. Flu Deaths</h1>
    <div>
        <div id="myDiv"></div>
      <h1>Covid Testing per Population</h1>
      <p class="lead">Hover over a state to see the number of tests performed.</p>
      <div id="regions_div"></div>
    
    </div>
  </main>

    <!-- Google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Custom JS -->
    <script src="/static/js/config.js"></script>
    <script src="/static/js/script.js"></script>
    

</body>
</html>
